{% extends '_action-email-base.html' %}
{% load tz %}
{% comment %}

Password Reset

Required context variables::

:site_url: so we can link to the site this URL came from
:support_email: email address to contact for support

Content blocks::

title - Large bolded title at the top of the message
main_content - The important message
button_link - URL for the action button on the page
button_text - the label for the action button
footer - closing thought on the message 

{% endcomment %}

{% block title %}Forgot your password?{% endblock %}

{% block main_content %}
<tr>
  <td class="em_grey" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; color:#434343;">It happens to the best of us. The good news is you can change it right now.</td>
</tr>
{% endblock main_content %}

{% block button_link %}{{ site_url }}/password/reset/confirm/{{ user.id }}/{{ token }}{% endblock %}
{% block button_text %}RESET YOUR PASSWORD {% endblock %}

{% block footer %}
<tr>
  <td class="em_grey" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; color:#434343;">If you didn&rsquo;t request a password reset, you don&rsquo;t have to do anything.<br class="em_hide" />
Just ignore this email.</td>
</tr>
{% endblock footer %}