name: Linter
on: [push]
jobs:
  Black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pipenv'
      - run: pipenv install --dev --deploy
      - run: pipenv run black --check server
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pipenv'
      - run: pipenv install --dev --deploy
      - run: pipenv run flake8 server
  ESLint_and_Prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        env:
          NPM_CONFIG_PRODUCTION: false
        working-directory: ./client
        run: |
          npm install
      - name: Run ESLint
        working-directory: ./client
        run: npx eslint --ext .js,.vue src
        
